// you can add mixins for bootstrap here

.badge-danger {
  background-color: $brand-danger;
}

.badge-warning {
  background-color: $brand-warning;
}

.badge-success {
  background-color: $brand-success;
}
