@import "bootstrap-sprockets";
@import "variables";


@import url(http://fonts.googleapis.com/css?family=Oxygen:700,300,400);
$font-family-sans-serif:  "Oxygen", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;





@import "bootstrap";
@import "mixins";
